.bd-color-picker {
	width: 80px;
}

.bd-picker-container .hidden {
	display: none;
}

.bd-color-result {
	background-color: #f7f7f7;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	cursor: pointer;
	display: inline-block;
	height: 22px;
	margin: 0 6px 6px 0px;
	position: relative;
	top: 1px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	vertical-align: bottom;
	display: inline-block;
	padding-left: 30px;
}

.bd-color-result:after {
	background: #f7f7f7;
	-webkit-border-radius: 0 2px 2px 0;
	border-radius: 0 2px 2px 0;
	border-left: 1px solid #e5e5e5;
	color: #555555;
	content: attr( title );
	display: block;
	font-size: 11px;
	line-height: 22px;
	padding: 0 6px;
	position: relative;
	right: 0;
	text-align: center;
	top: 0;
}

.bd-color-result:hover,
.bd-color-result:focus {
	background: #fafafa;
	border-color: #999999;
	color: #333333;
}

.bd-color-result {
	top: 0;
}

.bd-color-result.bd-picker-open:after {
	content: attr( data-current );
}

.bd-picker-container, .bd-picker-container:active {
	display: inline-block;
	outline: 0;
}

.bd-picker-open + .bd-picker-input-wrap {
	display: inline-block;
	vertical-align: top;
}

.bd-picker-container .button {
	margin-left: 6px;
}

.bd-picker-container .iris-square-slider .ui-slider-handle:focus {
	background-color: #555
}

.bd-picker-container .iris-picker {
	-webkit-border-radius: 0;
	border-radius: 0;
	border-color: #dfdfdf;
	margin-top: 6px;
}

.bd-picker-container input[type="text"].bd-color-picker {
	width: 65px;
	font-size: 12px;
	font-family: monospace;
	text-align: center;
	line-height: 16px;
	margin: 0;
}

.bd-picker-container input[type="text"].bd-color-picker:focus::-webkit-input-placeholder {
	color: transparent;
}

.bd-picker-container input[type="text"].bd-color-picker:-moz-placeholder {
	color: #999999;
}

.bd-picker-container input[type="text"].iris-error {
	background-color: #ffebe8;
	border-color: #c00;
	color: #000000;
}
