@import url(forms.css);
@import url(l10n.css);

html,
body {
	margin: 0;
	padding: 0;
}

body {
	background: #f7f7f7;
	min-width: 0;
	color: #333333;
	font-family: "Raleway", sans-serif;
	font-size: 13px;
	line-height: 1.4em;
}

a {
	color: #333333;
	text-decoration: none;
}

a {
	outline: 0;
}

a:hover,
a:active {
	color: #282828;
}

a:focus {
	color: #222222;
}

p {
	line-height: 1.5;
	color: #777777;
}

.login .message {
	border-left: 4px solid #0065a1;
	padding: 1px 12px;
	background-color: #ffffff;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.1);
	box-shadow: 0 0 1px 0 rgba(0,0,0,0.1);
}

.login #login_error {
	border-left: 4px solid #dd3d36;
	background: #ffffff;
	-webkit-box-shadow: 0 0 1px 0 rgba(0,0,0,0.1);
	box-shadow: 0 0 1px 0 rgba(0,0,0,0.1);
}

#loginform p.submit,
.login-action-lostpassword p.submit {
	border: none;
	margin: -10px 0 20px; /* May want to revisit this */
}

.login * {
	margin: 0;
	padding: 0;
}

.login form {
	margin-top: 10px;
	margin-left: 0;
	padding: 26px 24px 46px;
	font-weight: normal;
	overflow: hidden;
	background: #ffffff;
	border: 1px solid #e5e5e5;
	border-radius: 1px;
}

.login form .forgetmenot {
	font-weight: normal;
	float: left;
	margin-top: 3px;
	margin-bottom: 0;
}

.login .button-primary {
	float: right;
}

#login form p {
	margin-bottom: 0;
}

#login form p.submit {
	margin: 0;
	padding: 0;
}

.login label {
	color: #777777;
	font-size: 14px;
}

.login form .forgetmenot label {
	font-size: 12px;
	line-height: 19px;
}

.login h1 {
	text-align: center;
}

.login h1 a {
	background-image: url(../images/blasdoise.png);
	-webkit-background-size: 285px;
	background-size: 285px;
	background-position: center top;
	background-repeat: no-repeat;
	color: #333333;
	height: 48px;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.3em;
	margin :0 auto 15px;
	padding: 0;
	text-decoration: none;
	width: 285px;
	text-indent: -9999px;
	outline: 0;
	overflow: hidden;
	display: block;
}

#login {
	width: 320px;
	padding: 8% 0 0;
	margin: auto;
}

#login_error,
.login .message {
	margin-left: 0;
	padding: 12px;
}

.login #nav {
	margin: 24px 0 0 0;
	font-size: 13px;
	text-align: center;
	line-height: 1.7;
}

.login form .input,
.login input[type="text"] {
	font-size: 24px;
	width: 100%;
	padding: 3px;
	margin: 2px 6px 16px 0;
}

.login form .input,
.login input[type="text"],
.login form input[type="checkbox"] {
	background: #f7f7f7;
}

.ie7 .login form .input,
.ie8 .login form .input {
	font-family: sans-serif;
}

.login #pass-strength-result {
	width: 250px;
	font-weight: 600;
	margin: 12px 0 6px;
	padding: 6px 5px;
	text-align: center;
}

#backtoblog {
	text-align: center;
	margin-top: 10px;
}

.mobile #login {
	padding: 20px 0;
}

.mobile #login form,
.mobile #login .message,
.mobile #login_error {
	margin-left: 0;
}

.mobile #login #nav {
	margin-left: 8px;
}

.mobile #login h1 a {
	width: auto;
}

body.interim-login {
	height: auto;
}

.interim-login #login {
	padding: 0;
	margin: 5px auto 20px;
}

.interim-login.login h1 a {
	width: auto;
}

.interim-login #login_error,
.interim-login.login .message {
	margin: 0 0 16px;
}

.interim-login.login form {
	margin: 0;
}

@-ms-viewport {
	width: device-width;
}

@media screen and ( max-width: 782px ) {
	.interim-login input[type=checkbox] {
		height: 16px;
		width: 16px;
	}

	.interim-login input[type=checkbox]:checked:before {
		width: 16px;
		font: normal 21px/1 'Basicons';
		margin: -3px 0 0 -4px;
	}
}
