#bdadminbar * {
	height: auto;
	width: auto;
	margin: 0;
	padding: 0;
	position: static;
	text-shadow: none;
	text-transform: none;
	letter-spacing: normal;
	font: normal 13px/32px "Raleway", sans-serif;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-transition: none;
	transition: none;
	-webkit-font-smoothing: subpixel-antialiased; /* Prevent Safari from switching to standard antialiasing on hover */
	-moz-osx-font-smoothing: auto; /* Prevent Firefox from inheriting from themes that use other values */
}

.rtl #bdadminbar * {
	font-family: Tahoma, sans-serif;
}

html:lang(he-il) .rtl #bdadminbar *  {
 	font-family: Arial, sans-serif;
}

#bdadminbar a.ab-item,
#bdadminbar > #bd-toolbar span.ab-label,
#bdadminbar > #bd-toolbar span.noticon {
	color: #ffffff;
}

#bdadminbar #bd-admin-bar-site-name a.ab-item,
#bdadminbar #bd-admin-bar-my-sites a.ab-item {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#bdadminbar ul li:before,
#bdadminbar ul li:after {
	content: normal;
}

#bdadminbar a,
#bdadminbar a:hover,
#bdadminbar a img,
#bdadminbar a img:hover {
	outline: none;
	border: none;
	text-decoration: none;
	background: none;
}

#bdadminbar a:focus,
#bdadminbar a:active,
#bdadminbar input[type="text"],
#bdadminbar input[type="password"],
#bdadminbar input[type="number"],
#bdadminbar input[type="search"],
#bdadminbar input[type="email"],
#bdadminbar input[type="url"],
#bdadminbar select,
#bdadminbar textarea,
#bdadminbar div {
	-webkit-shadow: none;
	shadow: none;
	outline: none;
}

#bdadminbar {
	direction: ltr;
	color: #ffffff;
	font: normal 13px/32px "Raleway", sans-serif;
	height: 32px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-width: 600px; /* match the min-width of the body in bd-admin.css */
	z-index: 99999;
	background: #333333;
}

#bdadminbar .ab-sub-wrapper,
#bdadminbar ul,
#bdadminbar ul li {
	background: none;
	clear: none;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	text-indent: 0;
	z-index: 99999;
}

#bdadminbar ul#bd-admin-bar-root-default>li {
	margin-right: 0;
}

#bdadminbar .quicklinks ul {
	text-align: left;
}

#bdadminbar li {
	float: left;
}

#bdadminbar .ab-empty-item {
	outline: none;
}

#bdadminbar .quicklinks .ab-top-secondary > li {
	float: right;
}

#bdadminbar .quicklinks a,
#bdadminbar .quicklinks .ab-empty-item,
#bdadminbar .shortlink-input {
	height: 32px;
	display: block;
	padding: 0 10px;
	margin: 0;
}

#bdadminbar .quicklinks > ul > li > a {
	padding: 0 8px 0 7px;
}

#bdadminbar .menupop .ab-sub-wrapper,
#bdadminbar .shortlink-input {
	margin: 0;
	padding: 0;
	background: #282828;
	display: none;
	position: absolute;
	float: none;
}

#bdadminbar.ie7 .menupop .ab-sub-wrapper,
#bdadminbar.ie7 .shortlink-input {
	top: 32px;
	left: 0;
}

#bdadminbar .ab-top-menu > .menupop > .ab-sub-wrapper {
	min-width: 100%;
}

#bdadminbar .ab-top-secondary .menupop .ab-sub-wrapper {
	right: 0;
	left: auto;
}

#bdadminbar .ab-submenu {
	padding: 6px 0;
}

#bdadminbar .selected .shortlink-input {
	display: block;
}

#bdadminbar .quicklinks .menupop ul li {
	float: none;
}

#bdadminbar .quicklinks .menupop ul li a strong {
	font-weight: bold;
}

#bdadminbar .quicklinks .menupop ul li .ab-item,
#bdadminbar .quicklinks .menupop ul li a strong,
#bdadminbar .quicklinks .menupop.hover ul li .ab-item,
#bdadminbar.nojs .quicklinks .menupop:hover ul li .ab-item,
#bdadminbar .shortlink-input {
	line-height: 26px;
	height: 26px;
	white-space: nowrap;
	min-width: 140px;
}

#bdadminbar .shortlink-input {
	width: 200px;
}

#bdadminbar.nojs li:hover > .ab-sub-wrapper,
#bdadminbar li.hover > .ab-sub-wrapper {
	display: block;
}

#bdadminbar .menupop li:hover > .ab-sub-wrapper,
#bdadminbar .menupop li.hover > .ab-sub-wrapper {
	margin-left: 100%;
	margin-top: -32px;
}

#bdadminbar .ab-top-secondary .menupop li:hover > .ab-sub-wrapper,
#bdadminbar .ab-top-secondary .menupop li.hover > .ab-sub-wrapper {
	margin-left: 0;
	left: inherit;
	right: 100%;
}

#bdadminbar .ab-top-menu > li > .ab-item:focus,
#bdadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus,
#bdadminbar .ab-top-menu > li:hover > .ab-item,
#bdadminbar .ab-top-menu > li.hover > .ab-item {
	background: #282828;
	color: #ffffff;
}

#bdadminbar > #bd-toolbar li:hover span.ab-label,
#bdadminbar > #bd-toolbar li.hover span.ab-label,
#bdadminbar > #bd-toolbar a:focus span.ab-label {
	color: #ffffff;
}

#bdadminbar > #bd-toolbar > #bd-admin-bar-root-default .ab-icon,
#bdadminbar .ab-icon,
#bdadminbar .ab-item:before {
	position: relative;
	float: left;
	font: normal 20px/1 'basicons';
	speak: none;
	padding: 4px 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-image: none !important;
	margin-right: 6px;
}

#bdadminbar .ab-icon:before,
#bdadminbar .ab-item:before,
#bdadminbar #adminbarsearch:before {
	color: #ffffff;
}

#bdadminbar .ab-icon:before,
#bdadminbar .ab-item:before,
#bdadminbar #adminbarsearch:before {
	position: relative;
	-webkit-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}

#bdadminbar .ab-label {
	display: inline-block;
	height: 32px;
}

#bdadminbar .ab-submenu .ab-item {
	color: #ffffff;
}

#bdadminbar .quicklinks .menupop ul li a,
#bdadminbar .quicklinks .menupop ul li a strong,
#bdadminbar .quicklinks .menupop.hover ul li a,
#bdadminbar.nojs .quicklinks .menupop:hover ul li a {
	color: #dddddd;
}

#bdadminbar .quicklinks .menupop ul li a:hover,
#bdadminbar .quicklinks .menupop ul li a:focus,
#bdadminbar .quicklinks .menupop ul li a:hover strong,
#bdadminbar .quicklinks .menupop ul li a:focus strong,
#bdadminbar .quicklinks .menupop.hover ul li a:hover,
#bdadminbar .quicklinks .menupop.hover ul li a:focus,
#bdadminbar.nojs .quicklinks .menupop:hover ul li a:hover,
#bdadminbar.nojs .quicklinks .menupop:hover ul li a:focus,
#bdadminbar li:hover .ab-icon:before,
#bdadminbar li:hover .ab-item:before,
#bdadminbar li a:focus .ab-icon:before,
#bdadminbar li .ab-item:focus:before,
#bdadminbar li.hover .ab-icon:before,
#bdadminbar li.hover .ab-item:before,
#bdadminbar li:hover #adminbarsearch:before,
#bdadminbar li #adminbarsearch.adminbar-focused:before {
	color: #ffffff;
}

#bdadminbar.mobile .quicklinks .ab-icon:before,
#bdadminbar.mobile .quicklinks .ab-item:before {
	color: #ffffff;
}

#bdadminbar.mobile .quicklinks .hover .ab-icon:before,
#bdadminbar.mobile .quicklinks .hover .ab-item:before {
	color: #ffffff;
}

#bdadminbar .menupop .menupop > .ab-item:before,
#bdadminbar .ab-top-secondary .menupop .menupop > .ab-item:before {
	position: absolute;
	font: normal 17px/1 'basicons';
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#bdadminbar .menupop .menupop > .ab-item {
	display: block;
	padding-right: 2em;
}

#bdadminbar .menupop .menupop > .ab-item:before {
	top: 1px;
	right: 4px;
	content: '\f139';
	color: inherit;
}

#bdadminbar .ab-top-secondary .menupop .menupop > .ab-item {
	padding-left: 2em;
	padding-right: 1em;
}

#bdadminbar .ab-top-secondary .menupop .menupop > .ab-item:before {
	top: 5px;
	left: 3px;
	content: '\f141';
}

#bdadminbar .quicklinks .menupop ul.ab-sub-secondary {
	display: block;
	position: relative;
	right: auto;
	margin: 0;
}

#bdadminbar .quicklinks .menupop ul.ab-sub-secondary,
#bdadminbar .quicklinks .menupop ul.ab-sub-secondary .ab-submenu {
	background: #222222;
}

#bdadminbar .quicklinks .menupop .ab-sub-secondary > li > a:hover,
#bdadminbar .quicklinks .menupop .ab-sub-secondary > li .ab-item:focus a {
	color: #ffffff;
}

#bdadminbar .quicklinks a span#ab-updates {
	background: #f1f1f1;
	color: #333333;
	display: inline;
	padding: 2px 5px;
	font-size: 10px;
	font-weight: bold;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

#bdadminbar .quicklinks a:hover span#ab-updates  {
	background: #ffffff;
	color: #333333;
}

#bdadminbar .ab-top-secondary {
	float: right;
}

#bdadminbar ul li:last-child,
#bdadminbar ul li:last-child .ab-item {
	-webkit-box-shadow: none;
	box-shadow: none;
}

/**
 * My Account
 */
#bd-admin-bar-my-account > ul {
	min-width: 198px;
}

#bd-admin-bar-my-account > .ab-item:before {
	content: "\f110";
	top: 2px;
	float: right;
	margin-left: 6px;
	margin-right: 0;
}

#bd-admin-bar-my-account.with-avatar > .ab-item:before {
	display: none;
	content: none;
}

#bd-admin-bar-my-account.with-avatar > ul {
	min-width: 270px;
}

#bdadminbar.ie8 #bd-admin-bar-my-account.with-avatar .ab-item {
	white-space: nowrap;
}

#bdadminbar #bd-admin-bar-user-actions > li {
	margin-left: 16px;
	margin-right: 16px;
}

#bdadminbar #bd-admin-bar-user-actions.ab-submenu {
	padding: 6px 0 12px;
}

#bdadminbar #bd-admin-bar-my-account.with-avatar #bd-admin-bar-user-actions > li {
	margin-left: 88px;
}

#bdadminbar #bd-admin-bar-user-info {
	margin-top: 6px;
	margin-bottom: 15px;
	height: auto;
	background: none;
}

#bd-admin-bar-user-info .avatar {
	position: absolute;
	left: -72px;
	top: 4px;
	width: 64px;
	height: 64px;
}

#bdadminbar #bd-admin-bar-user-info a {
	background: none;
	height: auto;
}

#bdadminbar #bd-admin-bar-user-info span {
	background: none;
	padding: 0;
	height: 18px;
}

#bdadminbar #bd-admin-bar-user-info .display-name,
#bdadminbar #bd-admin-bar-user-info .username {
	display: block;
}

#bdadminbar #bd-admin-bar-user-info .username {
	color: #999999;
	font-size: 11px;
}

#bdadminbar #bd-admin-bar-my-account.with-avatar > a img {
	width: auto;
	height: 16px;
	padding: 0;
	background: #f1f1f1;
	line-height: 24px;
	vertical-align: middle;
	margin: -2px 0 0 6px;
	float: none;
	display: inline;
}

#bdadminbar.ie8 #bd-admin-bar-my-account.with-avatar > a img {
	width: auto;
}

/**
 * BD Logo
 */
#bdadminbar #bd-admin-bar-bd-logo > .ab-item .ab-icon {
	width: 15px;
	height: 20px;
	margin-right: 0;
	padding: 6px 0 5px;
}

#bdadminbar #bd-admin-bar-bd-logo > .ab-item {
	padding: 0 7px;
}

#bdadminbar #bd-admin-bar-bd-logo > .ab-item .ab-icon:before {
	content: '\f120';
	top: 2px;
}

/*
 * My Sites & Site Title
 */
#bdadminbar .quicklinks li .blavatar {
	float: left;
	font: normal 16px/1 'basicons' !important;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #ffffff;
}

#bdadminbar .quicklinks li a:hover .blavatar {
	color: #ffffff;
}

#bdadminbar .quicklinks li .blavatar:before {
	content: '\f120';
	height: 16px;
	width: 16px;
	display: inline-block;
	margin: 6px 8px 0 -2px;
}

#bdadminbar #bd-admin-bar-appearance {
	margin-top: -12px;
}

#bdadminbar #bd-admin-bar-my-sites > .ab-item:before,
#bdadminbar #bd-admin-bar-site-name > .ab-item:before {
	content: '\f112';
	top: 2px;
}

#bdadminbar #bd-admin-bar-customize > .ab-item:before {
	content: '\f540';
	top: 2px;
}


#bdadminbar #bd-admin-bar-edit > .ab-item:before {
	content: '\f464';
	top: 2px;
}

#bdadminbar #bd-admin-bar-site-name > .ab-item:before {
	content: "\f226";
}

.bd-admin #bdadminbar #bd-admin-bar-site-name > .ab-item:before {
	content: "\f102";
}



/**
 * Comments
 */
#bdadminbar #bd-admin-bar-comments .ab-icon {
	margin-right: 6px;
}

#bdadminbar #bd-admin-bar-comments .ab-icon:before {
	content: '\f101';
	top: 3px;
}

/**
 * New Content
 */
#bdadminbar #bd-admin-bar-new-content .ab-icon:before {
	content: '\f132';
	top: 4px;
}

/**
 * Updates
 */
#bdadminbar #bd-admin-bar-updates .ab-icon:before {
	content: '\f463';
	top: 2px;
}

/**
 * Search
 */
#bdadminbar.ie8 #bd-admin-bar-search {
	display: block;
	min-width: 32px;
}
#bdadminbar #bd-admin-bar-search .ab-item {
	padding: 0;
	background: transparent;
}

#bdadminbar #adminbarsearch {
	position: relative;
	height: 32px;
	padding: 0 2px;
	z-index: 1;
}

#bdadminbar #adminbarsearch:before {
	position: absolute;
	top: 6px;
	left: 5px;
	z-index: 20;
	font: normal 20px/1 'basicons' !important;
	content: '\f179';
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#bdadminbar > #bd-toolbar > #bd-admin-bar-top-secondary > #bd-admin-bar-search #adminbarsearch input.adminbar-input {
	position: relative;
	z-index: 30;
	font: 13px/24px "Raleway", sans-serif;
	height: 24px;
	width: 24px;
	max-width: none;
	padding: 0 3px 0 24px;
	margin: 0;
	color: #ffffff;
	background-color: rgba( 255, 255, 255, 0 );
	border: none;
	outline: none;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition-duration: 400ms;
	transition-duration: 400ms;
	-webkit-transition-property: width, background;
	transition-property: width, background;
	-webkit-transition-timing-function: ease;
	transition-timing-function: ease;
}

#bdadminbar > #bd-toolbar > #bd-admin-bar-top-secondary > #bd-admin-bar-search #adminbarsearch input.adminbar-input:focus {
	z-index: 10;
	color: #000000;
	width: 200px;
	background-color: rgba( 255, 255, 255, 0.9 );
	cursor: text;
	border: 0;
}

#bdadminbar.ie7 > #bd-toolbar > #bd-admin-bar-top-secondary > #bd-admin-bar-search #adminbarsearch input.adminbar-input {
	margin-top: 3px;
	width: 120px;
}

#bdadminbar.ie8 > #bd-toolbar > #bd-admin-bar-top-secondary > #bd-admin-bar-search #adminbarsearch input.adminbar-input {
	/* IE8 z-index bug with transparent / empty elements - fill in with an encoded transparent GIF */
	background: transparent 0 0 repeat scroll url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBR??AA7");
}

/* IE8 doesn't redraw the pseudo elements unless you make a change to the content */
#bdadminbar.ie8 #adminbarsearch.adminbar-focused:before {
	content: '\f179 '; /* extra space */
}

#bdadminbar.ie8 > #bd-toolbar > #bd-admin-bar-top-secondary > #bd-admin-bar-search #adminbarsearch input.adminbar-input:focus {
	background: #ffffff;
	z-index: -1;
}

#bdadminbar #adminbarsearch .adminbar-input::-webkit-input-placeholder {
	color: #f1f1f1;
}
#bdadminbar #adminbarsearch .adminbar-input:-moz-placeholder {
	color: #f1f1f1;
}
#bdadminbar #adminbarsearch .adminbar-input::-moz-placeholder {
	color: #f1f1f1;
}
#bdadminbar #adminbarsearch .adminbar-input:-ms-input-placeholder {
	color: #f1f1f1;
}

#bdadminbar #adminbarsearch .adminbar-button {
	display: none;
}

/**
 * Customize support classes
 */
.no-customize-support .hide-if-no-customize,
.customize-support .hide-if-customize,
.no-customize-support #bdadminbar .hide-if-no-customize,
.no-customize-support.bd-core-ui .hide-if-no-customize,
.no-customize-support .bd-core-ui .hide-if-no-customize,
.customize-support #bdadminbar .hide-if-customize,
.customize-support.bd-core-ui .hide-if-customize,
.customize-support .bd-core-ui .hide-if-customize {
	display: none;
}

/* Skip link */
#bdadminbar .screen-reader-text,
#bdadminbar .screen-reader-text span {
	position: absolute;
	left: -1000em;
	top: -1000em;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

#bdadminbar .screen-reader-shortcut {
	position: absolute;
	top: -1000em;
}

#bdadminbar .screen-reader-shortcut:focus {
	left: 6px;
	top: 7px;
	height: auto;
	width: auto;
	display: block;
	font-size: 14px;
	font-weight: bold;
	padding: 15px 23px 14px;
	background: #f1f1f1;
	color: #222222;
	z-index: 100000;
	line-height: normal;
	text-decoration: none;
	-webkit-box-shadow: 0 0 2px 2px rgba(0,0,0,.6);
	box-shadow: 0 0 2px 2px rgba(0,0,0,.6);
}

/**
 * IE 6-targeted rules
 */
* html #bdadminbar {
	overflow: hidden;
	position: absolute;
}

* html #bdadminbar .quicklinks ul li a {
	float: left;
}

* html #bdadminbar .menupop a span {
	background-image: none;
}

/* No @font-face support */
.no-font-face #bdadminbar ul.ab-top-menu > li > a.ab-item {
	display: block;
	width: 45px;
	text-align: center;
	overflow: hidden;
	margin: 0 3px;
}

.no-font-face #bdadminbar #bd-admin-bar-my-sites > .ab-item,
.no-font-face #bdadminbar #bd-admin-bar-site-name > .ab-item,
.no-font-face #bdadminbar #bd-admin-bar-edit > .ab-item {
	text-indent: 0;
}

.no-font-face #bdadminbar .ab-icon,
.no-font-face #bdadminbar .ab-icon:before,
.no-font-face #bdadminbar a.ab-item:before,
.no-font-face #bdadminbar #bd-admin-bar-bd-logo > .ab-item {
	display: none !important;
}

.no-font-face #bdadminbar ul.ab-top-menu > li > a > span.ab-label {
	display: inline;
}

.no-font-face #bdadminbar #bd-admin-bar-menu-toggle span.ab-icon {
	display: inline !important;
}

.no-font-face #bdadminbar #bd-admin-bar-menu-toggle span.ab-icon:before {
	content: "Menu";
	font: 14px/45px sans-serif !important;
	display: inline-block !important;
	color: #ffffff;
}

.no-font-face #bdadminbar #bd-admin-bar-site-name a.ab-item {
	color: #ffffff;
}
/* End no @font-face */

@media screen and ( max-width: 782px ) {
	/* Toolbar Touchification*/
	html #bdadminbar {
		height: 46px;
		min-width: 300px;

	/*	These rules break dropdown tappability on Chrome/Android.
		-webkit-transform: translate3d(0, 0, 0);
		-webkit-backface-visibility: hidden;
		-webkit-transition: 0;
		transform: translate3d(0, 0, 0);
		backface-visibility: hidden;
		transition: 0;
	*/
	}

	#bdadminbar * {
		font: normal 14px/32px "Raleway", sans-serif;
	}

	#bdadminbar .quicklinks > ul > li > a,
	#bdadminbar .quicklinks .ab-empty-item {
		padding: 0;
		height: 46px;
		line-height: 46px;
		width: auto;
	}

	#bdadminbar .ab-icon {
		font: 40px/1 basicons !important;
		margin: 0;
		padding: 0;
		width: 52px;
		height: 46px;
		text-align: center;
	}

	#bdadminbar .ab-icon:before {
		text-align: center;
	}

	#bdadminbar .ab-submenu {
		padding: 0;
	}

	#bdadminbar #bd-admin-bar-site-name a.ab-item,
	#bdadminbar #bd-admin-bar-my-sites a.ab-item,
	#bdadminbar #bd-admin-bar-my-account a.ab-item {
		text-overflow: clip;
	}

	#bdadminbar .ab-label {
		display: none;
	}

	#bdadminbar .menupop li:hover > .ab-sub-wrapper,
	#bdadminbar .menupop li.hover > .ab-sub-wrapper {
		margin-top: -46px;
	}

	#bdadminbar .ab-top-menu .menupop .ab-sub-wrapper .menupop > .ab-item {
		padding-right: 30px;
	}

	#bdadminbar .menupop .menupop > .ab-item:before {
		top: 10px;
		right: 6px;
	}

	#bdadminbar .ab-top-menu > .menupop > .ab-sub-wrapper .ab-item {
		font-size: 16px;
		padding: 6px 15px 12px;
	}

	#bdadminbar .ab-top-menu > .menupop > .ab-sub-wrapper a:empty {
		display: none;
	}

	/* BD logo */
	#bdadminbar #bd-admin-bar-bd-logo > .ab-item {
		padding: 0;
	}

	#bdadminbar #bd-admin-bar-bd-logo > .ab-item .ab-icon {
		padding: 0;
		width: 52px;
		height: 46px;
		text-align: center;
		vertical-align: top;
	}

	#bdadminbar #bd-admin-bar-bd-logo > .ab-item .ab-icon:before {
		font: 28px/1 'basicons' !important;
		top: -3px;
	}

	#bdadminbar .ab-icon,
	#bdadminbar .ab-item:before {
		padding: 0;
	}

	/* My Sites and "Site Title" menu */
	#bdadminbar #bd-admin-bar-my-sites > .ab-item,
	#bdadminbar #bd-admin-bar-site-name > .ab-item,
	#bdadminbar #bd-admin-bar-customize > .ab-item,
	#bdadminbar #bd-admin-bar-edit > .ab-item,
	#bdadminbar #bd-admin-bar-my-account > .ab-item {
		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
		width: 52px;
		padding: 0;
		color: #ffffff;
		position: relative;
	}

	#bdadminbar > #bd-toolbar > #bd-admin-bar-root-default .ab-icon,
	#bdadminbar .ab-icon,
	#bdadminbar .ab-item:before {
		padding: 0;
		margin-right: 0;
	}

	#bdadminbar #bd-admin-bar-edit > .ab-item:before,
	#bdadminbar #bd-admin-bar-my-sites > .ab-item:before,
	#bdadminbar #bd-admin-bar-site-name > .ab-item:before,
	#bdadminbar #bd-admin-bar-customize > .ab-item:before,
	#bdadminbar #bd-admin-bar-my-account > .ab-item:before {
		display: block;
		text-indent: 0;
		font: normal 32px/1 'basicons';
		speak: none;
		top: 7px;
		width: 52px;
		text-align: center;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	#bdadminbar #bd-admin-bar-appearance {
		margin-top: 0;
	}

	#bdadminbar .quicklinks li .blavatar:before {
		display: none;
	}

	/* Search */
	#bdadminbar #bd-admin-bar-search {
		display: none;
	}

	/* New Content */
	#bdadminbar #bd-admin-bar-new-content .ab-icon:before {
		top: 0;
		line-height: 53px;
		height: 46px !important;
		text-align: center;
		width: 52px;
		display: block;
	}

	/* Updates */
	#bdadminbar #bd-admin-bar-updates {
		text-align: center;
	}

	#bdadminbar #bd-admin-bar-updates .ab-icon:before {
		top: 3px;
	}

	/* Comments */
	#bdadminbar #bd-admin-bar-comments .ab-icon {
		margin: 0;
	}

	#bdadminbar #bd-admin-bar-comments .ab-icon:before {
		display: block;
		font-size: 34px;
		height: 46px;
		line-height: 47px;
		top: 0;
	}

	/* My Account */
	#bdadminbar #bd-admin-bar-my-account > a {
		position: relative;
		white-space: nowrap;
		text-indent: 150%; /* More than 100% indention is needed since this element has padding */
		width: 28px;
		padding: 0 10px;
		overflow: hidden; /* Prevent link text from forcing horizontal scrolling on mobile */
	}

	#bdadminbar .quicklinks li#bd-admin-bar-my-account.with-avatar > a img {
		position: absolute;
		top: 13px;
		right: 10px;
		width: 26px;
		height: 26px;
	}

	#bdadminbar #bd-admin-bar-user-actions.ab-submenu {
		padding: 0;
	}

	#bdadminbar #bd-admin-bar-user-actions.ab-submenu img.avatar {
		display: none;
	}

	#bdadminbar #bd-admin-bar-my-account.with-avatar #bd-admin-bar-user-actions > li {
		margin: 0;
	}

	#bdadminbar #bd-admin-bar-user-info .display-name {
		height: auto;
		font-size: 16px;
		line-height: 24px;
		color: #ffffff;
	}

	#bdadminbar #bd-admin-bar-user-info a {
		padding-top: 4px;
	}

	#bdadminbar #bd-admin-bar-user-info .username {
		line-height: 0.8 !important;
		margin-bottom: -2px;
	}

	/* Show only default top level items */
	#bd-toolbar > ul > li {
		display: none;
	}

	#bdadminbar li#bd-admin-bar-menu-toggle,
	#bdadminbar li#bd-admin-bar-bd-logo,
	#bdadminbar li#bd-admin-bar-my-sites,
	#bdadminbar li#bd-admin-bar-updates,
	#bdadminbar li#bd-admin-bar-site-name,
	#bdadminbar li#bd-admin-bar-customize,
	#bdadminbar li#bd-admin-bar-new-content,
	#bdadminbar li#bd-admin-bar-edit,
	#bdadminbar li#bd-admin-bar-comments,
	#bdadminbar li#bd-admin-bar-my-account {
		display: block;
	}

	/* Allow dropdown list items to appear normally */
	#bdadminbar li:hover ul li,
	#bdadminbar li.hover ul li,
	#bdadminbar li:hover ul li:hover ul li {
		display: list-item;
	}

	/* Override default min-width so dropdown lists aren't stretched
		to 100% viewport width at responsive sizes. */
	#bdadminbar .ab-top-menu > .menupop > .ab-sub-wrapper {
		min-width: -webkit-fit-content;
		min-width: -moz-fit-content;
		min-width: fit-content;
	}

	#bdadminbar ul#bd-admin-bar-root-default > li {
		margin-right: 0;
	}

	/* Experimental fix for touch toolbar dropdown positioning */
	#bdadminbar .ab-top-menu,
	#bdadminbar .ab-top-secondary,
	#bdadminbar #bd-admin-bar-bd-logo,
	#bdadminbar #bd-admin-bar-my-sites,
	#bdadminbar #bd-admin-bar-site-name,
	#bdadminbar #bd-admin-bar-updates,
	#bdadminbar #bd-admin-bar-comments,
	#bdadminbar #bd-admin-bar-new-content,
	#bdadminbar #bd-admin-bar-edit,
	#bdadminbar #bd-admin-bar-my-account {
		position: static;
	}

	#bdadminbar #bd-admin-bar-my-account {
		float: right;
	}

	.network-admin #bdadminbar ul#bd-admin-bar-top-secondary > li#bd-admin-bar-my-account {
		margin-right: 0;
	}

	/* Realign arrows on taller responsive submenus */

	#bdadminbar .ab-top-secondary .menupop .menupop > .ab-item:before {
		top: 10px;
		left: 0;
	}
}

/* Smartphone */
@media screen and (max-width: 600px) {
	#bdadminbar {
		position: absolute;
	}

	#bd-responsive-overlay {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 400;
	}

	#bdadminbar .ab-top-menu > .menupop > .ab-sub-wrapper {
		width: 100%;
		left: 0;
	}

	#bdadminbar .menupop .menupop > .ab-item:before {
		display: none;
	}

	#bdadminbar #bd-admin-bar-bd-logo.menupop .ab-sub-wrapper {
		margin-left: 0;
	}

	#bdadminbar .ab-top-menu > .menupop li > .ab-sub-wrapper {
		margin: 0;
		width: 100%;
		top: auto;
		left: auto;
		position: relative;
	}

	#bdadminbar .ab-top-menu > .menupop li > .ab-sub-wrapper .ab-item {
		font-size: 16px;
		padding: 6px 15px 19px 30px;
	}

	#bdadminbar li:hover ul li ul li {
		display: list-item;
	}

	#bdadminbar li#bd-admin-bar-bd-logo,
	#bdadminbar li#bd-admin-bar-updates {
		display: none;
	}

	/* Make submenus full-width at this size */

	#bdadminbar .ab-top-menu > .menupop li > .ab-sub-wrapper {
		position: static;
		-webkit-shadow: none;
		shadow: none;
	}
}

/* Very narrow screens */
@media screen and (max-width: 400px) {
	#bdadminbar li#bd-admin-bar-comments {
		display: none;
	}
}
